body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

code{
  font-size: inherit;
}

ul{
  list-style-type: disc !important;
}

ul:not(.browser-default)>li{list-style-type:disc}

li{
  margin: 10px 0 !important;
}
