<footer class="page-footer">
  <div class="row">
    <h5 class="white-text"> &nbsp; <a class="grey-text text-lighten-3" href="http://math.iisc.ac.in">Department of
        Mathematics, </a>
      <a class="grey-text text-lighten-3" href="https://iisc.ac.in">Indian Institute of Science. </a></h5>
  </div>

</footer>

<script type="text/javascript" src="{{ .Site.BaseURL }}js/materialize.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
    var elem = document.querySelector('.dropdown-trigger')
    M.Dropdown.init(elem, { hover: true });
  });


</script>