<head>
  <link rel="icon" href="{{ .Site.BaseURL }}IIScLogo.jpg">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}css/extras.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }}</title>
</head>